/*Variables*/
$no-margin: 0;
$no-padding: 0;
$w-100: 100%;
$h-100: 100%;
$fuente-default: merienda;
$main-content-margin: 100px; 
$main-content-padding: 100px;
$color-background: whitesmoke;
$black-low: #333;
$negrita: bold;
$banner-image: url("../multimedia/forest.jpg");
$bg-area-image: url("../multimedia/forest2.jpg");
$background-image: url("../multimedia/rastrojera.jpg");
$blur-image: url("../multimedia/canelo.jpg");
